:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --text-color: rgba(117, 117, 117, 1);
  --footer-cont-color: rgba(255, 255, 255, 0.6);
  --third-color: #ffffff;
  --accent-color: rgba(33, 150, 243, 1);
  --main-bg-color: #ffffff;
  --second-bg-color: rgba(47, 48, 58, 1);
  --third-bg-color: rgba(245, 244, 250, 1);
  --primary-button-color: rgba(245, 244, 250, 1);
}



body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;

  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
 width: 1200px;
 padding-left: 15px;
 padding-right: 15px;
 margin: 0 auto;
}


/*header*/

.page-header {
  border-bottom: 1px solid #ECECEC;
}
.hader-block {
  display: flex;
}
.contact {
  margin-top: 32px;
  margin-bottom: 32px;

  display: flex;
}
.mail {
margin-right: 50px;

}
.tel {
 margin-right: 0;

}
.header-nav {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 331px;
  width: 294px;
}
.header-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
  
}
.header-logo .logo-web {
  color: var(--accent-color);
}
.header-logo .logo-studio {
  color: var(--primary-text-color);
}

 .header-item:not(:last-child) {
    margin-right: 50px;
}
.nav-link {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.header-list .nav-link.current {
  color: var(--accent-color);
}
.header-list {
  display: flex;
}
.page-header .contact-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/*main hero*/
.hero {
  background: var(--second-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;


  background-image: linear-gradient(to top,
  red,
  red 50%,
  black 50%,
  black);

}

 /*
   background-image: linear-gradient(to top,
    var(--start-color),
    var(--end-color));
    */

.hero .titel {
  color: var(--third-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  padding-bottom: 30px;
}

.hero .button {
  background-color: var(--accent-color);
  color: var(--third-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  border-radius: 4px;
  min-width: 200px;
  height: 50px;
}



/*main benefits*/
.benefits-section {
  padding-bottom: 0px;
}
.non-title {
  display: none;
}
.benefits-list {
  display: flex;
  justify-content: space-between;
}
.benefits-item:not(:last-child) {
  margin-right: 30px;
}


.ben-list-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;

  width: 270px;
  
}
.ben-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-color);

  width: 270px;
  margin-top: 10px;
}
/*main*/
.section-title {
  color: var(--primary-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 50px;
}

.business-list {
  display: flex;
  justify-content: space-between;
}
/*main team*/
.team-item {
  width: 270px;
}
.team-item .border-card {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}
.team-img {
  display: block;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.team-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-section {
  background: var(--third-bg-color);
}

.team-list {
    display: flex;
    align-items: flex-start;
    
   
}

/*footer*/
.footer {
  background: var(--second-bg-color);

  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  
}
.footer-address {
  margin-top: 20px;
}

.footer-logo .logo-web {
  color: var(--accent-color);
}

.footer-logo .logo-studio {
  color: var(--third-color);
}

.footer-text {
  color: var(--third-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;

  margin-bottom: 9px;
}
.footer-contact:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact .contact-link {
  color: var(--footer-cont-color);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/*portfolio page*/

.portfolio .button-item:hover,
.portfolio .button-item:focus {
  background: var(--accent-color);
  color: var(--third-color);
}

.portfolio .button-item {
  background-color: var(--primary-button-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
}
.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-item {
  padding: 6px 22px;
  border: 0px;
}
.but-list-item:not(:last-child) {
  margin-right: 8px;
}


.portfolio .project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.portfolio .project-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.project-item {
 flex-basis: calc(100% / 3 - 30px);
 margin-left: 30px;
 margin-bottom: 30px;
}
.project-item:nth-last-child(-n + 3) {
 margin-bottom: 0;
}
.project-item .border-card {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 20px 24px;
}
.project-img {
  display: block;
}
